.env

# general
_ignore*
_seed.py
.venv*
*.db

# editors
.idea
.vim
.vscode
*.code-workspace
.DS_Store

# run
__pycache__

# test
.coverage
.mypy_cache
.pytest_cache
.ruff_cache
/htmlcov

# build
*.egg-info
/build
/dist
